* {
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  background-color: #8e44ad;
  height: 100dvh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
