:root {
  --primary-color: #22254b;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #22254b;
  margin: 0;
  overflow: hidden;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #373b69;
}
nav input {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}
